In [88]:
from os import listdir
from os.path import isfile, join, basename
import exifread
import pandas as pd

In [101]:
IMGDIR = './example/park3'
CSVPATH = join('./example/', basename(IMGDIR) + '.csv')

In [102]:
imgfiles = [f for f in listdir(IMGDIR) if isfile(join(IMGDIR, f))]
imgfiles.sort()

In [103]:
def convert_to_dec(value):
    """
    Helper function to convert the GPS coordinates stored in the EXIF to degress in float format
    :param value:
    :type value: exifread.utils.Ratio
    :rtype: float
    """
    print(value.values[0])
    return float(value.values[0].num) / float(value.values[0].den)

In [104]:
imgnames = []
exposure_times = []
for file in imgfiles:
    f = open(join(IMGDIR, file), 'rb')
    print(file)
    tags = exifread.process_file(f)
    imgnames.append(file)
    exposure_times.append(convert_to_dec(tags['EXIF ExposureTime']))

IMG_7189.JPG
1/4
IMG_7190.JPG
1
IMG_7191.JPG
4
IMG_7192.JPG
15

In [105]:
imgnames

['IMG_7189.JPG', 'IMG_7190.JPG', 'IMG_7191.JPG', 'IMG_7192.JPG']

In [106]:
type(exposure_times[0])

float

In [107]:
exposure_times

[0.25, 1.0, 4.0, 15.0]

In [108]:
data = {'Filename':imgnames, 'exposetime':exposure_times}

In [109]:
df = pd.DataFrame(data)

In [110]:
df

       Filename  exposetime
0  IMG_7189.JPG        0.25
1  IMG_7190.JPG        1.00
2  IMG_7191.JPG        4.00
3  IMG_7192.JPG       15.00

In [111]:
df.to_csv(CSVPATH, index=False, sep=' ')

In [112]:
print(CSVPATH)

./example/park3.csv